<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app.name %>
</p>

<p>
  <b>Description:</b>
  <%= @app.description %>
</p>

<p>
  <b>Imagepath:</b>
  <%= @app.imagePath %>
</p>

<p>
  <b>Externallink:</b>
  <%= @app.externalLink %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
