<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @music.name %>
</p>

<p>
  <b>Description:</b>
  <%= @music.description %>
</p>

<p>
  <b>Imagepath:</b>
  <%= @music.imagePath %>
</p>

<p>
  <b>Externallink:</b>
  <%= @music.externalLink %>
</p>


<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', music_index_path %>
