<% content_for :title do %><%= @post.title %><% end %>
  <h1 class="pagetitle">blog</h1>
  <hr class="article" />
<div class="theloop">
<aside class="sidebar">
   <div class="sidebox">
<iframe width="150" height="295" style="position: relative; display: block; width: 150px; height: 295px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3191637067/size=tall/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://scenery.bandcamp.com/album/humdrum">Humdrum by Scenery</a></iframe>
<script type="text/javascript"><!--
google_ad_client = "ca-pub-6628809286334311";
/* Lone Yeti #1 */
google_ad_slot = "8280140986";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
      <h3>Categories</h3>
      <ul>
        <% @categories.each do |category| %>
          <li><%= link_to category.name, category %></li>
        <% end %>
      </ul>
    </div>
</aside>
    <div class="post">
      <h2 class="title"><%= @post.title %></h2>
      <span class="date"><%= l @post.created_at, :format => :long_datetime %></span>
      <p><%= raw(@post.text) %></p>
      <p class="postfoot">
        Posted in:
         <% @post.categories.each do |post_category| %>
          <%= link_to post_category.name, post_category %>&nbsp;
        <% end %>
        / Bookmark the <%= link_to 'article link', @post %>
	<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-506219d929a764f6"></script>
      </p>
     </div>

</div>