<p id="notice"><%= notice %></p>

<p>
  <h1><%= @category.name %></h1>
    <ul>
   <% @posts.each do |post| %>
       <li>
          <%= link_to post.title, post %>
       </li>
   <% end %>
    </ul>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
